<app-navbar></app-navbar>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>Registro</b>
        </div>
        <div class="card-body p-4">
            <label style="float:left">Email</label>
            <input class="form-control m-2" type="email" placeholder="ingrese su email" [(ngModel)]="usuario.email">

            <label style="float:left">Contraseña</label>
            <input class="form-control m-2" type="password" placeholder="ingrese su contraseña" [(ngModel)]="usuario.password">

            <label style="float:left">Repita Contraseña</label>
            <input class="form-control m-2" placeholder= "ingrese su contraseña">

            <button class="btn btn-primary btn-block m-2" (click)="Registro()">Registrar</button>
        </div>
    </div>
</div>